<footer class="bg-light text-dark pt-5 pb-4">
  <div class="container text-center text-md-start">
      <div class="row text-center text-md-start">

          <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mt-5">
              <h5 class="text-uppercase mb-4 font-weight-bold text-primary">About me</h5>
              <hr class="mb-4">
              <p>Frontend and mobile Developer. Puedes contactar conmigo por diferentes vías, gracias por tu atención.</p>
          </div>

          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-5">
              <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contacto</h5>
              <hr class="mb-4">
              <p>
                  <i class="fas fa-home me-3"></i>Galapagar, Madrid
              </p>
              <p>
                  <i class="fas fa-envelope me-3"></i>mer.jimenez87@gmail.com
              </p>
          </div>
          <hr class="mb-4">

          <div class="text-center mb-2">
              Hecho con amor <i class="fas fa-heart"></i>
              <a href="#">
                  <strong class="text-primary">Mercedes Jiménez</strong>
              </a>
          </div>

          <div class="text-center">
              <ul class="list-unstyled list-inline">
                  <li class="list-inline-item">
                      <a href="#" class="text-dark">
                          <i class="fab fa-linkedin"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" class="text-dark">
                          <i class="fab fa-github"></i>
                      </a>
                  </li>
              </ul>
          </div>

      </div>
  </div>
</footer>
