<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image2"></div>
    <mat-card-title>Invernadero</mat-card-title>
    <mat-card-subtitle>Lorem ipsum</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/img/craig-whitehead-GcBuJkuiCpU-unsplash.jpg" alt="foto de un invernadero">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum voluptatibus libero, dicta atque est et voluptatem. Earum corporis maxime, quae non vitae pariatur deserunt similique, esse laudantium, mollitia iste nobis.
      Ea soluta voluptas ipsum fugit facere delectus officiis eum! Possimus ad totam iusto id est facere velit, provident alias qui magni dolore esse laudantium vel atque voluptatum, consequatur illo libero.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
